<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="settings.xsd">

    <folders target="src/main/java" sql="sqldalmaker/sql" />

    <dto scope="com.sqldalmaker.todolist.model.dto" inheritance="" field-names-mode="1" macro=""/>

    <dao scope="com.sqldalmaker.todolist.model.dao" field-assign-mode="0" macro=""/>

    <ide event-log="true"/>
    
    <jdbc jar="sqldalmaker/sqlite-jdbc-3.44.1.0.jar" class="org.sqlite.JDBC"
          url="jdbc:sqlite:$PROJECT_DIR$/src/main/webapp/todo-list.sqlite" user="" pwd="" />

    <type-map default="">

        <type detected="java.lang.Short" target="Short -> getShort"/>
        <type detected="java.lang.Integer" target="Integer -> getInteger"/>
        <type detected="java.lang.Long" target="Long -> getLong"/>

        <type detected="java.lang.Float" target="Float -> getFloat"/>
        <type detected="java.lang.Double" target="Double -> getDouble"/>
        <type detected="java.math.BigDecimal" target="java.math.BigDecimal -> getBigDecimal"/>

        <type detected="java.lang.String" target="String -> getString"/>
        <type detected="java.util.Date" target="java.util.Date -> getDate"/>
        <type detected="byte[]" target="byte[] -> getBytes"/>
        <type detected="java.lang.Boolean" target="Boolean -> getBoolean"/>

    </type-map>

    <macros>
    </macros>
    
</settings>