<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="settings.xsd">

    <folders target="src/main/java" sql="sqldalmaker/sql" />

    <dto scope="com.sqldalmaker.todolist.model.dto" inheritance="" field-names-mode="1" macro=""/>

    <dao scope="com.sqldalmaker.todolist.model.dao" field-assign-mode="0" macro=""/>

    <ide event-log="true"/>
    
    <cpp class-prefix=""/>

    <jdbc jar="sqlite-jdbc-3.42.0.0.jar" class="org.sqlite.JDBC"
          url="jdbc:sqlite:$PROJECT_DIR$/src/main/webapp/todo-list.sqlite" user="" pwd="" />

    <type-map default="">
    </type-map>

    <macros>
    </macros>
    
</settings>